.section-header, .section-header > h4 {
    font-weight: 800 !important;
    padding: 30px 0px;
}

.form-card {
    max-width: 400px;
    margin: auto;
}

.form-control {
    border-bottom: 1px solid #ccc;
}