<section class="container text-center">
    <div class="section-header">
        <h4>Add New Task</h4>
    </div>
    <div class="card form-card">
        <div class="card-body">
            <div class="form-outline mb-4">
                <input type="text" id="taskTitle" class="form-control" />
                <label class="form-label" for="taskTitle">Task Title</label>
            </div>
            <div class="form-outline mb-4">
                <textarea class="form-control" id="taskDesc" rows="4"></textarea>
                <label class="form-label" for="taskDesc">Description</label>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-block btn-danger">
                        <fa-icon [icon]="faBan" class="me-1"></fa-icon>
                        Cancel
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block btn-primary">
                        <fa-icon [icon]="faCheckCircle" class="me-1"></fa-icon>
                        Create Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>