<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <span style="font-weight:700;">TodoList</span>
      </a>
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <a type="button" class="btn btn-link px-3 me-2" href="/tasks?status=active">
        Active Tasks
      </a>
      <a type="button" class="btn btn-link me-3" href="/tasks?status=closed">
        Closed Tasks
      </a>
      <a type="button" class="btn btn-primary me-3" href="/tasks/new">
        Create New Task
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>
